.password-container input {
  border-radius: 10px;
  text-align: left;
  top: 0;
 width: 70%;
}
.password-container{
    width: 100%;
}
.pass-heading {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  padding-left: 3.5rem;
  margin-bottom: 0.5rem;
}
.forget-pass-heading {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.sign-btn {
  background-color: var(--primary-clr);
  font-size: 1rem;
  color: var(--text-clr);
  border-radius: 999px;
  padding: 0.5rem;
  border: none;
  min-width: 5rem;
}
.signin-input {
  accent-color: var(--primary-clr);
  position: relative;
}
.eye-icon {
  position: absolute;
  top: 8px;
  right: 60px;
}
.password-group {
  position: relative;
 
}
.sign-in-label{
    flex-basis: 400px;
    font-size: 12px;
}
.sign-bottom-container{
    width: 70%;
    margin: auto;
}
